<ul>
  {{#each model as |post|}}
    <li>
      {{#link-to "post" post.id}}
        {{post.title}}
      {{/link-to}}

      <button type="button" onclick={{action "deletePost" post}}>
        Delete
      </button>

      {{#link-to "edit" post.id}}
        Edit
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
